set clipboard+=unnamed
set relativenumber
set number
let mapleader = " "
inoremap jj <ESC>
nnoremap J :tabp <CR>
nnoremap K :tabn <CR>
nnoremap Y y$
map <ESC> :noh <CR>
map <leader>m :marks <CR>
map <leader>dm :delmarks A-Z0-9 <CR>
